<!--<app-header></app-header>-->

<nav class="navbar navbar-expand-lg bg-dark navbar-primary">
    <a class="navbar-brand" href="#"><i class="material-icons"></i>
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSNuw1bLpHKYfKLMysEjLTkY3DCml29RoNDYzCEZ7u10IgDqFJz&usqp=CAU"
 width="100" alt="" class="d-inline-block align-middle mr-2"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
        
      <ul class="navbar-nav">
        
      
        <li class="nav-item active">
          <a class="nav-link active" routerLink="list">Items</a>
        </li>
       <li class="nav-item active">
          <a class="nav-link" routerLink="cart">Cart</a>
        </li>
        
         <!--<li class="nav-item active">
          <a class="nav-link" routerLink="bill-list">BillList</a>
        </li>-->
        <li class="nav-item active">
          <a class="nav-link" routerLink="">Logout</a>
        </li>
      </ul>
      </div>
    </nav>

<router-outlet></router-outlet>